PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://harshvyas98397916_db_user:newpassword123@cluster0.svooxbg.mongodb.net/hospital-vaccine?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey
JWT_EXPIRE=7d
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="Hospital Vaccine <no-reply@hospitalvaccine.com>"
